$border_color: #aaa;
.main-header {
  background-color: #ddd;
  color: #176B59;
}

h2,h1 {
  color: #176B59;
}

.hondo header h1 {
  color: #37ffd2;
  opacity: 0.7;
  text-shadow: 0px 0px 1px black;
}

.overlay {
  opacity: 0.5;
  background-color: black;
}

.minor-projects a h2 {
  opacity: 0.7;
  color: #37ffd2;
  text-shadow: 0px 0px 1px black;
}

footer {
  background-color: #DCDCDC;
}
