.main-header {
  font-size: 72pt;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

.about-desc {
  font-size: 13pt;
  line-height: 1.2em;
}

h2 {
  font-family: sans-serif;
}

.project-header {
  font-size: 30pt;
}

.hondo {
  header h1 {
    font-size: 72pt;
    text-align: center;
  }

  .hondo-desc div {
    font-size: 13pt;
    line-height: 1.2em;
  }
}

.minor-projects a h2 {
  text-align: center;
  font-size: 25pt;
}

.about-intro {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20pt;
  line-height: 1.2em;
}

main {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13pt;
}

@media (max-width: 1200px) {
  .hondo {
    header h1 {
      font-size: 36pt;
    }
  }
}
