.main-header {
  padding-left: 1em;
  border-bottom: 1px solid $border_color;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
}

.about-intro {
  padding-bottom: 2em;
  padding-top: 2em;
}

.about {
  border-bottom: 1px solid $border_color;
  display: flex;
  flex-direction: row;

  aside {
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 2em;
    flex-grow: 1;
    //min-width: 20em;
    display: flex;
    flex-direction: column;
  }
}

.project-header {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.about-desc {
  border-right: 1px solid $border_color;
  display: flex;
  flex-direction: row;
  flex-grow: 8;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
}

.myself {
  margin-right: 1em;
  float: left;
  width: 250px;
  height: 250px;
  min-width: 250px;
  max-height: 250px;
}

.hondo {
  border-bottom: 1px solid $border_color;
}


#hondo-header {
  height: 500px;
  background-position: center;
  position: relative;
  background-image: url('/images/Hondo4Cut.jpg');
  h1 {
    position: absolute;
    bottom: 0.5em;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.hondo-desc {
  display: flex;

  & > div {
    padding-top: 2em;
    padding-bottom: 2em;
    flex-grow: 8;
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 1em;
  }
}

.overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.social-icons {
  padding-bottom: 2em;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

.minor-projects {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.minor-project {
  flex-grow: 1;
  max-width: 400px;

  div {
    padding-top: 1em;
  }

  img {
    width: 400px;
    height: 400px;
  }

  a {
    display: block;
    width: 400px;
    height: 400px;
    position: relative;

    h2 {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 1em;
    }
  }

}

footer {
  height: 2em;
}

.mail {
  text-align: center;
  font-size: 20pt
}

.more-img {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;

  a {
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 400px;
    height: 225px;
  }

}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legal {
  font-size: 10pt;
  margin-left: 1em;
}

@media (max-width: 700px) {
  .about-desc {
    flex-direction: column;
  }

  .main-header {
    padding: 0;
  }

  .about aside {
    padding-left: 0;
  }

  .minor-project {
    img, a {
      width: 200px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .more-img img {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .about {
    flex-direction: column;
    aside {
      padding-bottom: 0;
    }
  }

  .about-desc {
    border: 0;
    border-bottom: 1px solid $border_color;
  }

  .minor-projects {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .minor-project {
    padding-bottom: 1em;
  }

  .hondo {
    .hondo-desc {
      flex-direction: column;
      aside {
        border-right: 0;
        border-bottom: 1px solid $border_color;
      }
    }
  }

  #hondo-header {
    background-image: url('/images/Hondo4Cut-50pc.jpg');
    max-height: 250px;
  }

  .social-icons {
    justify-content: center;
    a {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
